.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #e6f7f0 !important;
    background-color: #119d60 !important;
    border-color: #119d60 !important;
}
.btn:focus-visible {
    color: #e6f7f0 !important;
    background-color: #119d60 !important;
    border-color: #119d60 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #e6f7f0 !important;
}

.btn-check:checked+.btn:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible, .btn:first-child:active:focus-visible, :not(.btn-check)+.btn:active:focus-visible {
    box-shadow: 0 0 0 0.25rem #e6f7f0 !important;
}


.btn-check+.btn:hover {
    color: #e6f7f0 !important;
    background-color: #119d60 !important;
    border-color: #119d60 !important;
}

.card-form-holder{
    border-radius: 15px;
    border: none !important;
    background: #e6f7f0AD;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.power-icon svg {
  color: #f5c518;
}