/* Footer Styles */
/* footer {
  position: fixed;
  bottom: 0;
  width: 100%; 
  z-index: -1;
  background-color: var(--bs-dark);
  color: var(--bs-light);
  margin-top: 100%;
} */
footer {
  -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: fixed;
    inset: auto 0 0;
    z-index: -5;
    max-height: 100svh;
    padding: 2.5rem 0 5rem;
    overflow: hidden auto;
    background: #191414;
}


footer h5 {
  color: var(--bs-light);
}

footer p {
  color: var(--bs-muted);
}

footer ul li {
  color: var(--bs-muted);
  transition: color 0.3s ease;
}

footer ul li:hover {
  color: var(--bs-light);
}

footer a {
  color: var(--bs-light);
  transition: color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
  color: var(--bs-primary);
  transform: scale(1.1);
}

footer .btn-outline-light {
  border-color: var(--bs-light);
  color: var(--bs-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

footer .btn-outline-light:hover {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}