.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 5px solid #119d60;
    box-shadow: inset 0 0 6px 3px #c8c8c8;
    border-radius: 9px;
    margin-bottom: 35px;
    backdrop-filter: blur(10px);
}

.marquee-content {
  display: flex;
  animation: marquee-scroll 80s linear infinite;
}

.marquee-content img {
  /* height: 200px; */
  width: 3000px;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-3000px);
  }
}