.service-video-section {
  display: flex;
  padding: 2rem;
}

.text-content {
  flex: 1;
  padding-right: 2rem;
}

.text-content h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.video-card {
  flex: 0 0 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}


.video {
  width: 100%;
  height: auto;
}

.service-video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.service-video-box {
  position: relative;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  border-radius: 0.75rem;
  overflow: hidden;
  /* background-color: #1e1e1e;  */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-video-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.7);
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; 
  /* background-color: #000; */
}

.service-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem; 
}

.service-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.service-video-box:hover .service-logo {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.service-title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0 0;
  /* color: #ffffff;  */
}